<% content_for :dashboard_css do %>
  <%= stylesheet_link_tag 'home/dashboard', media: 'all' %>
<% end %>


<% if user_signed_in? %>
  <div class="container1">
    <nav class="sidebar" aria-label="Sidebar navigation">
      <h2>Dev Tasks</h2>
      <ul>
        <li><%= link_to "Projects", projects_path, class: "btn-link p-2 text-decoration-none text-white"%></li>
        <li><button type="button">My Tasks</button></li>
        <li><button type="button">Team</button></li>
        <li><button type="button">Settings</button></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class: "logout-form" %></li>
      </ul>
    </nav>

    <main class="main">
      <div class="greeting" id="greeting">
        <% if current_user.admin? %>
          <p>Welcome <%= current_user.user_name %>. You can manage everything.</p>
        <% elsif current_user.manager? %>
          <p>Welcome <%= current_user.user_name %>. You can manage team tasks.</p>
        <% else %>
          <p>Welcome <%= current_user.user_name %>. You can view and update your tasks.</p>
        <% end %>

      </div>
      <hr style="margin-bottom: 20px;">
      <h3>Project Overview Cards:</h3>
      <div class="card-container">
        <div class="card">Project A</div>
        <div class="card">Project B</div>
        <div class="card">Project C</div>
      </div>
    </main>
  </div>
<% end %>
