<%= form_with(model: @project) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
