<div class="login-container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h2>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
    <div class="input-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>

    <div class="input-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <label>
          <%= f.check_box :remember_me %> Remember me
        </label>
      </div>
    <% end %>

    <%= f.submit "Log in", class: "login-btn" %>
  <% end %>

  <div class="footer">
    Don't have an account?
    <%= render "devise/shared/links" %>
  </div>
</div>


